werkzeug
opencv-python
numpy
face_recognition
flask
flask_restful
flask_cors
Flask-Uploads
flask_sqlalchemy
pillow
dlib
sqlalchemy
cmake
thread
marshmallow
marshmallow_sqlalchemy
python-decouple
imutils
python-dotenv
flask_jwt_extended